td,th{
    border:2px solid black;
    text-align: center;
   
}

th{
    background-color:rgb(70, 162, 255); 
}

table tr:hover{background-color: #ddd;}

.header{
    border-right: 0px;
    text-align: center;
}

.btn-header{
    border-left: 0px;
}
